@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Courgette');
body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  width: fit-content;
  margin: auto;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 64px;
  color: #000000;
}

h3 {
  font-family: 'Open Sans';
  margin-bottom: 20px;
}

.row {
  margin-left: 15px;
  margin-right: 0px;
  flex-wrap: nowrap;
  float: left;
}

.bio {
  padding: 8px;
  padding-bottom: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

.tile {
  background-color: #272727;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 5px;
  width: 310px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.tile * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.tile img {
  max-width: 100%;
  object-fit: contain;
  vertical-align: top;
  position: relative;
  opacity: 0.2;
}

.tile figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.tile .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.tile .date span {
  display: block;
  line-height: 14px;
}

.tile .date .month {
  font-size: 14px;
}

.tile .date .year {
  font-size: 10px;
}

.tile .date .other {
  font-size: 10px;
  padding: 1px;
}

.tile h3, .tile p {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.tile h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.tile a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.tile:hover {
  background-color: #000;
}

.tile:hover img {
  opacity: 1;
}

.tile:hover figcaption {
  opacity: 0;
}

.tile:hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.tags {
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  background-color: rgb(56, 56, 56);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 2px;
}

.github-button-div {
  margin-left: 6px;
}

@media (min-width: 310px) {
  .container {
    max-width: 310px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 340px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}