button h1 {
    color: gray;
    transition: 2s;
}

.button {
    border-radius: 4px;
    background-color: black;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    /* padding-top: 20px; */
    width: 100%;
    height: 100px;
    transition: all 2s;
    cursor: default;
    margin: 5px;
}

.button span {
    cursor: default;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:before {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    color: white;
    padding-top: 3px;
    top: 0;
    left: -20px;
    transition: 2s ;
}

.button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    color: white;
    padding-top: 3px;
    top: 0;
    right: -20px;
    transition: 2s;
}

.button:hover {
    box-shadow: 0 0 256px 32px rgba(173, 156, 0, 0.24), 0 0 100px 0 rgba(0, 0, 0, 0.19);
}

.button:hover span {
    padding-left: 25px;
    padding-right: 25px;
}

.button:hover span:before {
    opacity: 1;
    left: 0px;
}

.button:hover span:after {
    opacity: 1;
    right: 0px;
}

.button:hover h1 {
    color: white;
    transition: 2s;
}